.user {
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px solid black;

    &_avatar {
        border-radius: 100px;
        padding: 5px;
        width: fit-content;
    }

    &_text {
        margin: auto;
        align-content: center;
    }
}
